*.class
*.iml
MethodsAndEncapsulation/App/.idea/description.html
*.xml
*.pb
MethodsAndEncapsulation/App/.idea/sonarlint/issuestore/7/4/740208f80d8d82f959cb4eaa850858d0e2caf05f
MethodsAndEncapsulation/App/.idea/.gitignore
MethodsAndEncapsulation/App/.idea/sonarlint/issuestore/3/f/3fadc6a31953060bee61d3251b0319f64758a724
MethodsAndEncapsulation/App/.idea/sonarlint/issuestore/6/e/6efda3a7342b52552362bd9a2d482f567d4ebb82
MethodsAndEncapsulation/App/.idea/sonarlint/issuestore/7/0/701b8a5310b58f36446ffda1bd3d3571d566d758
MethodsAndEncapsulation/App/.idea/sonarlint/issuestore/9/2/920b77ebaac0181864b4d3289c09b8c308841aff
MethodsAndEncapsulation/App/.idea/sonarlint/issuestore/b/b/bb0fb8c9e45f26c237b6c0cab6aaf185e11c8ea7
MethodsAndEncapsulation/App/.idea/sonarlint/issuestore/d/e/def7a1a6a80350888dc28ff610e6516db6a8d6e8
MethodsAndEncapsulation/App/.idea/sonarlint/issuestore/e/a/eabd2f8122bcfc766abeee0810139618332f6ddb
